[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/ubuild-hugo"]
	path = themes/ubuild-hugo
	url = git@github.com:forestryio/ubuild-hugo.git
