{{ partial "htmlhead" . }}
<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-loading">

{{ $posts := .Pages }}
{{ $paginator := .Paginate $posts .Site.Params.pagesize }}

<!-- Wrapper -->
<div id="wrapper" data-ps="{{ $paginator.PageSize }}">

	{{ partial "header" . }}
	{{ partial "nav" . }}

	<!-- Main -->
	<div id="main">

		<h1 id="title">{{ .Title }}</h1>

		{{ if .Content }}
			<div class="content">
				{{ .Content }}
			</div>
		{{ end }}

		{{ partial "posts/list.html" (dict "posts" $paginator "Site" .Site) }}

		{{ partial "posts/pagination.html" (dict "paginator" $paginator "Site" .Site) }}

	</div>


	{{ partial "footer/index" . }}
	{{ partial "copyright" . }}

</div>
{{ template "_internal/google_analytics.html" . }}
{{ partial "scripts/index" . }}
</body>
</html>
