{{ $data := index .Site.Data .Site.Language.Lang }}
<!DOCTYPE HTML>
{{- /* Favicon background: #6a8ecf */ -}}
<html lang='{{ .Site.Language.Lang | default "en-us" }}'>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{{ if .Site.RSSLink }}
	<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="{{ .Site.RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end }}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href='{{ "assets/css/main.css" | relURL }}' />
	<noscript>
		<link rel="stylesheet" href='{{ "assets/css/noscript.css" | relURL }}' />
	</noscript>

	<title>
		{{ if eq .Site.Title .Title }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}
	</title>
	
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:type" content="article" />
	<meta property="fb:app_id" content="408388909949374" />
	<meta property="og:locale" content="{{ $data.opengraph.locale }}" />
	{{ if .IsTranslated -}}
		{{- /* I don't think this will actually work... See https://stackoverflow.com/questions/20827882/in-open-graph-markup-whats-the-use-of-oglocalealternate-without-the-locati */ -}}
		{{- range .AllTranslations -}}
			{{- if ne $.Site.Language .Language -}}
				{{- $lang := index $.Site.Data .Language.String -}}
				<meta property="og:locale:alternate" content="{{ $lang.opengraph.locale }}" />
			{{- end -}}
		{{- end -}}
	{{- end -}}
	{{- block "opengraph" . -}}
	{{- $data := index .Site.Data .Site.Language.Lang -}}
	<meta property="og:title" content="{{ if .Params.title }}{{ .Params.title }}{{ else }}{{ $data.opengraph.title }}{{ end }}" />
	<meta property="og:description" content="{{ if and (eq .Params.type "report") (eq .CurrentSection.Params.type "expedition") }}{{ .CurrentSection.Params.title }} - {{ end }}{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ $data.opengraph.description }}{{ end }}" />
	<meta property="og:image" content="{{ .Site.Params.imgbase }}/w_1600,h_1200,c_fill,g_auto{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ $data.opengraph.image }}{{ end }}" />
	<meta property="og:image:width" content="1600" />
	<meta property="og:image:height" content="1200" />
	{{ end }}
</head>

<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-loading">
	
	<!-- Wrapper -->
	<div id="wrapper">
	
		{{ partial "header" . }}
		{{ partial "nav" . }}
	
		<!-- Main -->
		<div id="main">
			{{ block "main" . }}{{ end }}
		</div>
	
		{{ partial "footer" . }}
		
		<!-- Copyright -->
		<div id="copyright">
			<ul><li>&copy; {{ .Site.Title }}</li><li>{{ i18n "COPYRIGHT_MESSAGE_1" . | markdownify }}</li><li>{{ i18n "COPYRIGHT_MESSAGE_2" . | markdownify }}</li></ul>
		</div>

	</div>
	{{ template "_internal/google_analytics.html" . }}
	{{ partial "scripts/index" . }}
</body>
</html>
