{{ define "main" }}

	{{ $data := index .Site.Data .Site.Language.Lang }}

	<!-- Post -->
	<section class="post">
		<header class="major">
			{{ if not .Date.IsZero }}
			<span class="date">{{ .Date.Format "January 2, 2006" }}</span>
			{{ end }}
			<h1>{{ .Title }}</h1>
		</header>
		
		{{ if .Content }}
			<div class="content">
				{{ .Content }}
			</div>
		{{ end }}

		{{ if .Params.author }}
			{{ partial "author" (dict "author" (.Site.GetPage (printf "/authors/%s.%s.md" .Params.author .Site.Language.Lang )) "Site" .Site) }}
		{{ end }}
		
		{{ partial "postcustom" . }}
		
		{{ if not (eq .Params.disableComments true) }}
		{{ template "_internal/disqus.html" . }}
		{{ end }}
	</section>

	<!-- Links to next / previous in section -->
	
	{{ if .NextInSection }}
		<section class="posts">
			<article style="margin-left: auto; margin-right: auto;">
				<header>
					<span class="date">{{ $data.post.nexttext }}</span>
					<h2><a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a></h2>
				</header>
				<p>{{ .NextInSection.Description }}</p>
				{{ if .NextInSection.Params.image }}
					<a href="{{ .NextInSection.Permalink }}" class="image fit"><img src="{{ .NextInSection.Site.Params.imgbase }}/w_800,h_800,c_fill,g_auto{{ .NextInSection.Params.image }}" alt="" /></a>
				{{ end }}
				<ul class="actions">
					<li><a href="{{ .NextInSection.Permalink }}" class="button">{{ $data.post.linktext }}</a></li>
				</ul>
			</article>
		</section>
	{{ end }}
	{{ if .PrevInSection }}
		<div style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
			{{ $data.post.prevtext }}: <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
		</div>
	{{ end }}
	

	
	
{{ end }}