<!-- Posts -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="posts">
    {{ range .posts.Pages }}
    <article>
        <header>
            {{ $showExpedition := and $.context (and (eq .Params.type "report") (eq .CurrentSection.Params.type "expedition")) }}
            {{ $showDate := not .Date.IsZero }}
            {{ if or $showDate $showExpedition }}
                <span class="date">
                    {{ if $showDate }}
                    {{ .Date.Format "January 2, 2006" }}
                    {{ end }}
                    {{ if and $showDate $showExpedition }}
                        - 
                    {{ end }}
                    {{ if $showExpedition }}
                        {{ .CurrentSection.Params.title }}
                    {{ end }}
                </span>
            {{ end }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        {{ if .Params.image }}
        <a href="{{ .Permalink }}" class="image fit"><img src="{{ .Site.Params.imgbase }}/w_800,h_800,c_fill,g_auto{{ .Params.image }}" alt="" /></a>
        {{ end }}
        <p>{{ .Description }}</p>
        <ul class="actions">
            <li><a href="{{ .Permalink }}" class="button">{{ $data.post.linktext }}</a></li>
        </ul>
    </article>
    {{ end }}
</section>
