{{ $paginator := .paginator }}
<!-- Footer -->
{{ if gt $paginator.TotalPages 1 }}
    <footer>
        <div class="pagination">
            {{ if $paginator.HasPrev }}
                <a href="{{ $paginator.Prev.URL }}" class="previous"></a>
            {{ end }}
            {{ range $paginator.Pagers }}
                {{ if lt .PageNumber 10 }}
                    <a href="{{ .URL }}" class="page{{ if eq .PageNumber $paginator.PageNumber }} active{{ end }}">{{ .PageNumber }}</a>
                {{ end }}
            {{ end }}
            {{ if $paginator.HasNext }}
                <a href="{{ $paginator.Next.URL }}" class="next">{{ i18n "NEXT" . }}</a>
            {{ end }}
        </div>
    </footer>
{{ end }}
