<!-- Author -->
{{ $author := .author }}
{{ $about := .Site.GetPage (printf "/about/_index.%s.md" .Site.Language.Lang) }}
<div class="box" id="author">
	<span class="image left" style="margin-bottom: 1.5rem;">
		<a class="image fit" style="margin-bottom:0;" href="{{ $about.Permalink }}"><img src="{{ .Site.Params.imgbase }}/w_100,h_100,c_fill,g_auto{{ $author.Params.image }}" alt="{{ $author.Params.name }}" /></a>
	</span>
	<h4 style="margin-top: 0.75rem; margin-bottom: 0;">
		{{ $author.Params.name }}
	</h4>
	<p style="margin-bottom: 1.5rem;">
		{{ $author.Params.description }}
	</p>
	<div style="clear:both;"></div>
</div>