<!-- Breadcrumbs -->
{{ if and (eq .Params.type "expedition") (eq .Params.layout "expeditions") }}
	<div id="breadcrumbs">
		<ul>
			<li>
				<a href="{{ (.GetPage "/").Permalink }}" class="icon fa-home"><span class="label">{{ .Site.Title }}</span></a>
			</li>
			<li>
				{{ .Title }}
			</li>
		</ul>
	</div>
{{ end }}
{{ if and (eq .Params.type "expedition") (eq .Params.layout "reports") }}
	<div id="breadcrumbs">
		<ul>
			<li>
				<a href="{{ (.GetPage "/").Permalink }}" class="icon fa-home"><span class="label">{{ .Site.Title }}</span></a>
			</li>
			<li>
				<a href="{{ (.GetPage "/expeditions").Permalink }}">{{ (.GetPage "/expeditions").Title }}</a>
			</li>
			<li>
				{{ .Title }}
			</li>
		</ul>
	</div>
{{ end }}
{{ if eq .Params.type "report" }}
	<div id="breadcrumbs">
		<ul>
			<li>
				<a href="{{ (.GetPage "/").Permalink }}" class="icon fa-home"><span class="label">{{ .Site.Title }}</span></a>
			</li>
			<li>
				<a href="{{ (.GetPage "/expeditions").Permalink }}">{{ (.GetPage "/expeditions").Title }}</a>
			</li>
			<li>
				<a href="{{ .CurrentSection.Permalink }}">{{ .CurrentSection.Title }}</a>
			</li>
			<li>
				{{ .Title }}
			</li>
		</ul>
	</div>
{{ end }}

{{ if and (eq .Params.type "review") (eq .Params.layout "reviews") }}
	<div id="breadcrumbs">
		<ul>
			<li>
				<a href="{{ (.GetPage "/").Permalink }}" class="icon fa-home"><span class="label">{{ .Site.Title }}</span></a>
			</li>
			<li>
				{{ .Title }}
			</li>
		</ul>
	</div>
{{ end }}

{{ if and (eq .Params.type "review") (ne .Params.layout "reviews") }}
	<div id="breadcrumbs">
		<ul>
			<li>
				<a href="{{ (.GetPage "/").Permalink }}" class="icon fa-home"><span class="label">{{ .Site.Title }}</span></a>
			</li>
			<li>
				<a href="{{ (.GetPage "/reviews").Permalink }}">{{ (.GetPage "/reviews").Title }}</a>
			</li>
			<li>
				{{ .Title }}
			</li>
		</ul>
	</div>
{{ end }}

{{ if eq .Params.type "about" }}
	<div id="breadcrumbs">
		<ul>
			<li>
				<a href="{{ (.GetPage "/").Permalink }}" class="icon fa-home"><span class="label">{{ .Site.Title }}</span></a>
			</li>
			<li>
				{{ .Title }}
			</li>
		</ul>
	</div>
{{ end }}