<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<footer id="footer">
    <section class="split contact">
        {{ with $data.social }}
        <section>
            <h3>{{ i18n "CONTACT_SOCIAL" . }}</h3>
            <ul class="icons alt">
                {{ with .youtube}}
                <li><a href="{{ . }}" class="icon alt fa-youtube-play"><span class="label">Youtube</span></a></li>
                {{ end }}
                {{ with .twitter}}
                <li><a href="{{ . }}" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                {{ end }}
                {{ with .facebook}}
                <li><a href="{{ . }}" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                {{ end }}
                {{ with .pinterest}}
                    <li><a href="{{ . }}" class="icon alt fa-pinterest"><span class="label">Pinterest</span></a></li>
                {{ end }}
                {{ with .tumblr}}
                    <li><a href="{{ . }}" class="icon alt fa-tumblr"><span class="label">Tumblr</span></a></li>
                {{ end }}
                <!--{{ with .instagram}}
                <li><a href="{{ . }}" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                {{ end }}
                {{ with .flickr}}
                <li><a href="{{ . }}" class="icon alt fa-flickr"><span class="label">Flickr</span></a></li>
                {{ end }}-->
                {{ if .OutputFormats.Get "RSS" }}
                    <li><a href="{{ .OutputFormats.Get "RSS" }}" class="icon alt fa-rss"><span class="label">RSS</span></a></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    </section>
</footer>
