{{ define "main" }}

	{{ $posts := where .Data.Pages ".Params.type" "in" .Site.Params.pagetypes }}
	{{ $first := first 1 .Data.Pages }}
	{{ $highlight := gt (len .Data.Pages) 1 }}
	{{ if $highlight }}
		{{ $posts = after 1 $posts }}
	{{ end }}
	{{ $paginator := .Paginate $posts .Site.Params.pagesize }}

	{{ if and $highlight (eq $paginator.PageNumber 1) }}
		 {{ partial "posts/featured.html" (dict "firstpost" $first "Site" .Site) }}
	{{ end }}
	
	{{ partial "posts/list.html" (dict "posts" $paginator "Site" .Site) }}
	{{ partial "posts/pagination.html" (dict "paginator" $paginator "Site" .Site) }}
	
{{ end }}