<div class="box">
	<span class="image left" style="margin-bottom: 1.5rem;">
		<img class="image fit" style="margin-bottom:0;" src="{{ .Site.Params.imgbase }}/w_100,h_100,c_fill,g_auto/v1551473387/about-photo-2.jpg" alt="Michelle" />
	</span>
	<p style="margin-bottom: 0.75rem; margin-top: 0.75rem;">
		I trekked the Annapurna Circuit with Michelle from <a href="https://www.fulltimeexplorer.com/" target="_blank">Full Time Explorer</a>. 
		She did a great write-up of our time together on the trail which she kindly let me borrow, 
		so what you see below is my photos and Michelle's text. You can find her original article: <a href="https://www.fulltimeexplorer.com/annapurna-circuit-itinerary/" target="_blank">Annapurna Circuit Itinerary</a>.
	</p>
	<div style="clear:both;"></div>
</div>